<?xml version="1.0"?>
<model>
    <name>Supposed Light Source</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Alex</name>
        <email>aamado@xforcefellow.us</email>
    </author>
    
    <description>
        A supposed "light source" purely for demonstration purposes
    </description>
</model>